<html>  
    <head>  
    <title>home</title>  
    </head>  
    <body>  
        {% with messages = get_flashed_messages() %}  
             {% if messages %}  
                   {% for message in messages %}  
                        <p>{{ message }}</p>  
                   {% endfor %}  
             {% endif %}  
          {% endwith %}  
    <h3>Welcome to the website</h3>  
    <a href = "{{ url_for('loginflash') }}">login</a>  
    </body>  
    </html>  