<html>  
    <head>  
        <title>login</title>  
    </head>  
    <body>  
        {% if error %}  
            <p><strong>Error</strong>: {{error}}</p>  
        {% endif %}  
      
        <form method = "post" action = "/loginflash">  
            <table>  
                <tr><td>Email</td><td><input type = 'email' name = 'email'></td></tr>  
                <tr><td>Password</td><td><input type = 'password' name = 'pass'></td></tr>  
                <tr><td><input type = "submit" value = "Submit"></td></tr>  
            </table>  
        </form>  
    </body>  
    </html>  