<html>  
    <head>  
        <title>profile</title>  
    </head>  
    <body>  
        <h3>Hi, {{name}}</h3>  
        <h5> Enter Your Score </h5>

        <form action = "http://localhost:5000/result" method = "POST">
         
            <p>Physics <input type = "text" name = "Physics" /></p>
            <p>Chemistry <input type = "text" name = "chemistry" /></p>
            <p>Maths <input type ="text" name = "Mathematics" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
    </body>  
    </html>  