<!doctype html>
<html>
   <body>
      <table class="table table-hover" border=6 align=center > 
          <h2 align=center> This is your score board </h2>

        
         {% for key, value in result.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>


   </body>
</html>