<html>  
    <head>  
    <title>success</title>  
    </head>  
    <body align=center>  

        <h2>Login successful</h2>  
        <a href="/viewprofile">View Profile</a> 
        <p>File uploaded successfully</p>  
        <p>File Name: {{name}}</p>  
     
    </body>  
    </html>  