<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body >  
  
<h1 align="center">Employee Information</h1>  
<table border=15px solid black class="table table-striped" align="center">  
    <thead>  
        <tr>
        <td>ID</td>  
        <td>Name</td>  
        <td>Email</td>  
        <td>Address</td>  
        </tr>

    </thead>  
    <body>

      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["name"]}}</td>  
            <td>{{row["email"]}}</td>  
            <td>{{row["address"]}}</td>  
        </tr>  
      
    {% endfor %}  
    </body>

</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html>  